body {
  background-color: brown;
  margin: 0;
  font-family: sans-serif;
}

header,
footer {
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: white;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 1200px;
  width: 100%;
}
* {
  box-sizing: border-box;
}
