.main {
  background-color: #FEFFE5;
  max-width: 1300px;
  margin: auto;
}

header {
  background-color: #864B02;
  text-align: center;
  align-items: center;
}

.shares {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;
}


.share1 img{
  max-width: 100%;
  background: url("./img/DSC09632 2.png") center/cover no-repeat;
  box-shadow: 6px 6px 7px rgba(54, 92, 0, 0.2);
  border-radius: 16px;
  position: relative;

  display: flex;
  justify-content: center; 
  align-items: flex-end;
  padding: 20px;
}


.share1 h2 {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0;
}


.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.share2 img, share3 img {
  width: 305px;
  object-fit: cover;
  border-radius: 10px;
}

.share2 img {
  height: 224px;
}

.share3 img {
  height: 152px;
}
.sh1text {
font-family: 'Open Sans';
font-style: bold;
font-weight: 900;
font-size: 30px;
line-height: 65px;
text-align: right;
top: 20px;
right: 50px;
color: #FFFFFF;
background: url(./img/big.png) no-repeat;
background-size: cover;
width: 100%;
}
.share2, .share3 {
  position: relative;
}
.overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.col-8 {
width: 80%;
}
