.main{
    background-color: #FEFFE5;
    max-width: 1300px;
    margin: auto;
}
.shares {
    display: flex;
    justify-content: center;
} 
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}